@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grid {
  margin: 0;
  padding-left: 0;
}

.page-rec {
  font-family: "Open Sans", sans-serif;
  color: #ffe320;
}

nav {
  font-weight: 400;
  list-style-type: none;
  text-align: right;
  text-decoration: none;
  background-color: #000000;
}

nav a {
  letter-spacing: 3px;
  line-height: 1.5;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  display: block;

  color: white;
  text-decoration: none;
  text-align: right;

  border-right: transparent solid 2px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

nav a:hover {
  color: #ed1b1b;

  transition: all 0.3s ease-in;

  border-right: solid 3px
}

nav a:focus {
  color: #ed1b1b;
  border-right: solid 3px
}

nav #current {
  color: #40c1d8;
  border-right: solid 3px
}

.logo {
  width: 6rem;
  height: 6rem;
  margin-left: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.grid-middle .unit {
  vertical-align: middle;
}

.img {
  display: block;
}

.intro {
  position: relative;
}

.banner {
  width: 100%;
}

.social {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding-top: 300px;
}

.social a:hover {
  color: #ffe320;
}

.insta {
  width: 50px;
  list-style-type: none;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.link {
  width: 40px;
  list-style-type: none;
  text-decoration: none;
}

.linked {
  width: 50px;
  list-style-type: none;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.mail {
  width: 50px;
  list-style-type: none;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.hover-box img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover {
  filter: grayscale(0);
}

.hover-box-2:hover {
  filter: #ffe320;
}

.sub {
  letter-spacing: 5px;
  line-height: 1;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.description {
  font-family: "Slabo 27px" serif;
  text-align: left;
  font-size: 16px;
}

.sub-2 {
  letter-spacing: 1px;
  line-height: 1;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.sub-3 {
  letter-spacing: 1px;
  line-height: 3;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.portfolio-section {
  background-color: #E4E5E5;
}

footer {
  background-color: black;
}

.footer-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 5px;
}

.logo-2 {
  width: 30px;
  text-decoration: none;
}

.text-main {
  font-family: "Slabo 27px" serif;
  font-size: 16px;
  line-height: 1.5;
}

.picture-box {
background-color: rgba(255, 255, 255, 0.8);
top: 20px;
right: 20px;
left: 20px;
bottom: 20px;
text-align: center;
display: none;
justify-content: center;
align-items: center;
}

.picture-link:hover .picture-box {
  display: flex;
}
.picture-link img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.picture-link:hover img {
  filter: grayscale(0);
}

.title-text {
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.about-pic {
  padding-left: 80px;
  padding-right: 80px;
}

@media only screen and (min-width: 25em) {
  .nav a {
    font-size: 11px;
  }

  .title {
    left: 30px;
  }
}

@media only screen and (min-width: 38em) {
  .nav a {
    font-size: 13px;
  }
}

@media only screen and (min-width: 60em) {
  .nav a {
    font-size: 14px;
    }
}

@media only screen and (min-width: 90em) {
  .nav a {
    font-size: 14px;
  }
}
