<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hayley Capson</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/fav.png">
</head>
<body>

  <main>
    <header class="header" role="banner" id="top">
      <div class="nav" role="navigation" id="nav">
        <div class="grid grid-middle">
          <nav class="unit xs-1 s-1 m-1 l-1">
            {% unless page.url == "/"%}
            <img class="wordmark" src="{{site.baseurl}}/images/logoo.png">
            {% endunless %}
            <div class="nav-logo">
            <ul class="push-0 list-group">
              <li>
                <a itemprop="porfolio"class="" href="{{site.baseurl}}/">Portfolio</a>
              </li>
              <li>
                <a itemprop="photography" href="{{site.baseurl}}/photography/">Photography</a>
              </li>
              <li class="">
                <a itemprop"contact" href="{{site.baseurl}}/contact/">About</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

{{content}}

  <footer id="data-author" itemprop="author" class="grid">
    <div class="unit xs-1 text-center pad-t pad-b">
      <a itemprop="instagram" class="link" href="https://www.instagram.com/hc_graphicdesign/">
        <img itemprop="image" class="logo-2" src="{{site.baseurl}}/images/insta-red.png" alt="">
      </a>
      <a itemprop="linkedin" class="link" href="https://www.linkedin.com/in/hayley-capson-603733137/">
        <img itemprop="image" class="logo-2" src="{{site.baseurl}}/images/linked-red.png" alt="">
      <a>
      <a itemprop="mail" class="link" href="mailto:">
        <img itemprop="image" class="logo-2" src="{{site.baseurl}}/images/mail-red.png" alt="">
      </a>
    </div>
    <div class="footer-text unit xs-1 text-center">
      <small itemprop="name">©Hayley Capson 2017</small>
    </div>
  </footer>
</body>
</html>
